@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Megrin";
  src: url("../font/Megrim-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../font/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Savate";
  src: url("font/Savate-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*FONTES*/
/*CORES*/
/*SOMBRAS*/
/*TAMAHO DAS FONTES*/
/*ESPAÇAMENTO DE LINHA*/
/*DEGRADE DAS LINHAS*/
/*BORDAS*/
/*ESPAÇAMENTOS*/
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  height: 100vh;
  background-image: url("../../image/wallpaper1.jpg");
  background-position: center center;
  background-size: cover;
}
.header__title {
  font-family: "Megrin", cursive;
  font-size: 6em;
  font-weight: bold;
  text-shadow: 0.2px 0.2px 2px #00a4fa;
  max-width: 100%;
  transition: all 0.8s ease;
}
.header__subtitle {
  font-family: "RobotoCondensed", cursive;
  font-size: 1.5em;
  text-shadow: 0.2px 0.2px 2px #3d657a;
  padding: 0 5px;
  transition: all 0.8s ease;
}

.nav__container {
  background-color: #354750;
  font-family: "Megrin", cursive;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav__lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.nav__item {
  list-style: none;
  padding-left: 30px;
}
.nav__link {
  color: #fff;
  text-decoration: none;
  padding: 4px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.nav__link:hover {
  background-color: #fff;
  color: #354750;
  font-weight: 800;
}

.homesobrenos__container {
  background: url("../../image/wallpaper2.jpg");
  background-position: top center;
  background-size: cover;
}

.home__container {
  height: 40vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}
.home__title {
  font-family: "Megrin", cursive;
  font-size: 2.5em;
  text-shadow: 0.2px 0.2px 2px #3d657a;
  padding: 8px;
}
.home__subtitle {
  font-family: "RobotoCondensed", cursive;
  font-size: 1.5em;
  text-shadow: 0.2px 0.2px 2px #3d657a;
  padding: 0 5px;
}

.sobrenos__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  max-width: 100%;
  padding: 20px 50px;
}
.sobrenos__imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  padding: 20px 0;
}
.sobrenos__title {
  font-family: "Megrin", cursive;
  font-size: 2.5em;
  text-shadow: 0.2px 0.2px 2px #3d657a;
  padding: 8px;
}
.sobrenos__p {
  font-family: "RobotoCondensed", cursive;
  font-size: 1.2em;
  flex: 2 1 500px;
  text-align: justify;
  text-indent: 48px;
  line-height: 1.5;
  padding: 0 20px;
}
.sobrenos__picture {
  max-width: 600px;
}
.sobrenos__imagem {
  width: 100%;
  height: auto;
  border-radius: 1000px;
}

.servicos__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 24px;
}
.servicos__title {
  font-family: "Megrin", cursive;
  font-size: 2.5em;
  text-shadow: 0.2px 0.2px 2px #3d657a;
  padding: 8px;
}
.servicos__subtitle {
  font-family: "RobotoCondensed", cursive;
  font-size: 1.5em;
  text-shadow: 0.2px 0.2px 2px #3d657a;
  padding: 0 5px;
}
.servicos__p {
  font-family: "RobotoCondensed", cursive;
  font-size: 1.2em;
  max-width: 50%;
  text-align: center;
  line-height: 1.5;
  padding: 20px 0;
}
.servicos__lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  max-width: 97%;
  gap: 24px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #2b3033;
  background: radial-gradient(circle, transparent 0%, #3d657a 100%);
}
.servicos__li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 5px #2b3033;
  background: url("../../image/wallpaper1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.servicos__li:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 40px #2b3033;
}

.depoimentos__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 8px;
  background: url("../../image/wallpaper1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}
.depoimentos__title {
  font-family: "Megrin", cursive;
  font-size: 2.5em;
  text-shadow: 0.2px 0.2px 2px #3d657a;
  padding: 8px;
}
.depoimentos__containerblockquote {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 24px;
}
.depoimentos__p {
  font-family: "RobotoCondensed", cursive;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.5;
  padding: 20px 0;
}
.depoimentos__blockquote {
  max-width: 60%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding: 8px;
}

.cite__cliente {
  font-family: "RobotoCondensed", cursive;
  font-size: 1.2em;
  line-height: 1.5;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.contato__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 24px;
}
.contato__title {
  font-family: "Megrin", cursive;
  font-size: 2.5em;
  text-shadow: 0.2px 0.2px 2px #3d657a;
  padding: 8px;
}
.contato__containerform {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 10px;
  background: radial-gradient(circle, transparent 20%, #354750 300%);
  padding: 30px 0;
}
.contato__subtitle {
  font-family: "RobotoCondensed", cursive;
  font-size: 1.5em;
  text-shadow: 0.2px 0.2px 2px #3d657a;
  padding: 0 5px;
}
.contato__endereco {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 0;
}
.contato__p {
  font-family: "RobotoCondensed", cursive;
  font-size: 1.2em;
  text-align: justify;
  align-items: center;
  line-height: 1.5;
  padding: 2px;
}
.contato__label {
  font-family: "RobotoCondensed", cursive;
  font-size: 1.2em;
}
.contato__campo {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}
.contato__input {
  font-family: "RobotoCondensed", cursive;
  width: 100%;
  font-size: 1em;
  outline: none;
  border: none;
  border-bottom: 2px solid #2b3033;
  background-color: transparent;
  transition: border-color 0.3s;
}
.contato__input:focus {
  border-bottom: 2px solid #2b3033;
}

.footer__container {
  width: 100%;
  height: fit-content;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  background-color: #354750;
  padding: 10px 40px;
}
.footer__linksrede {
  padding: 8px;
}
.footer__p, .footer__link {
  font-family: "RobotoCondensed", cursive;
  font-weight: 500;
  text-align: start;
  color: black;
  font-size: 1.2em;
  line-height: 1.2;
  text-decoration: none;
}
.footer__redessociais {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  text-shadow: 0.2px 0.2px 2px #3d657a;
  padding: 4px;
  transition: transform 0.3s ease;
}
.footer__redessociais:hover, .footer__link:hover {
  transform: scale(1.4);
  color: #377ea5;
}

.section__hr {
  height: 4px;
  background: linear-gradient(to right, #354750 0%, #2393cf 50%, #354750 100%);
  border: none;
  width: 80%;
  margin: 48px auto;
  border-radius: 10px;
}

.contato__botao {
  display: inline-block;
  width: fit-content;
  background-color: #354750;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-top: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contato__botao:hover {
  background-color: #3d657a;
}
.contato__botao:active {
  transform: scale(1.05);
}
.contato__botao:focus {
  outline: none;
  box-shadow: 0 0 0 2.5px #354750;
}

/*# sourceMappingURL=main.css.map */
