@use "../utils/variables";
@use "../utils/mixins";

.depoimentos {
  &__container {
    @include mixins.flex-center(column);
    text-align: center;
    padding-bottom: variables.$spacing-sm;

    @include mixins.background-responsive("wallpaper1");
    background-repeat: no-repeat;
    min-height: 100%;
  }

  &__title {
    font-family: variables.$title-font;
    font-size: variables.$font-l;
    text-shadow: variables.$text-shadow;
    padding: variables.$spacing-sm;

    @include mixins.respond-to(sm) {
      font-size: 2em;
    }
  }

  &__containerblockquote {
    @include mixins.flex-center;
    gap: variables.$spacing-lg;
    padding-bottom: variables.$spacing-lg;
  }

  &__p {
    font-family: variables.$text-font;
    font-size: variables.$font-s;
    text-align: center;
    line-height: variables.$line-height-base;
    padding: variables.$spacing-top-bottom;
  }

  &__blockquote {
    max-width: 60%;
    background-color: variables.$cor0;
    border: none;
    border-bottom: 1px solid black;
    padding: variables.$spacing-sm;
  }
}

.cite__cliente {
  font-family: variables.$text-font;
  font-size: variables.$font-s;
  line-height: variables.$line-height-base;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
