@use "../utils/variables";
@use "../utils/mixins";

.footer {
  &__container {
    width: 100%;
    height: fit-content;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: variables.$spacing-md;
    background-color: variables.$cor2;
    padding: 10px 40px;
  }

  &__linksrede {
    padding: variables.$spacing-sm;
  }

  &__p,
  &__link {
    font-family: variables.$text-font;
    font-weight: 500;
    text-align: start;
    color: black;
    font-size: variables.$font-s;
    line-height: 1.2;

    text-decoration: none;
  }

  &__redessociais {
    display: inline-block;
    text-decoration: none;
    font-size: variables.$font-m;
    color: black;
    text-shadow: variables.$text-shadow;
    padding: variables.$spacing-xs;
    transition: transform 0.3s ease;

    @include mixins.respond-to(sm) {
      font-size: 1.2em;
    }
  }

  &__redessociais:hover,
  &__link:hover {
    transform: scale(1.4);
    color: variables.$cor4;
  }
}
