@use "../utils/variables";
@use "../utils/mixins";

.header {
  &__container {
    @include mixins.flex-center(column);
    text-align: center;
    height: 100vh;
    @include mixins.background-responsive("wallpaper1");
  }

  &__title {
    font-family: variables.$title-font;
    font-size: variables.$font-xl;
    font-weight: bold;
    text-shadow: variables.$title-shadow;
    max-width: 100%;
    transition: all 0.8s ease;

    @include mixins.respond-to(lg) {
      font-size: 4.5em;
    }

    @include mixins.respond-to(md) {
      font-size: 3.5em;
    }

    @include mixins.respond-to(sm) {
      font-size: 3em;
    }
  }

  &__subtitle {
    font-family: variables.$text-font;
    font-size: variables.$font-m;
    text-shadow: variables.$text-shadow;
    padding: variables.$spacing-right-left;
    transition: all 0.8s ease;

    @include mixins.respond-to(sm) {
      font-size: 1.2em;
    }
  }
}
