@use "../utils/variables";
@use "../utils/mixins";

.homesobrenos {
  &__container {
    @include mixins.background-responsive("wallpaper2", center top);
  }
}

.home {
  &__container {
    height: 40vh;
    width: 100%;
    max-width: 100%;
    @include mixins.flex-center(column);
    text-align: center;
  }
  &__title {
    font-family: variables.$title-font;
    font-size: variables.$font-l;
    text-shadow: variables.$text-shadow;
    padding: variables.$spacing-sm;
  }

  &__subtitle {
    font-family: variables.$text-font;
    font-size: variables.$font-m;
    text-shadow: variables.$text-shadow;
    padding: variables.$spacing-right-left;
  }
}
