@use "../utils/variables";
@use "../utils/mixins";

.sobrenos {
  &__container {
    @include mixins.flex-center(column);
    text-align: center;
    max-width: 100%;
    padding: 20px 50px;
  }

  &__imgcontainer {
    @include mixins.flex-center;
    gap: variables.$spacing-xl;
    padding: variables.$spacing-top-bottom;
  }

  &__title {
    font-family: variables.$title-font;
    font-size: variables.$font-l;
    text-shadow: variables.$text-shadow;
    padding: variables.$spacing-sm;

    @include mixins.respond-to(sm) {
      font-size: 2em;
    }
  }

  &__p {
    font-family: variables.$text-font;
    font-size: variables.$font-s;
    flex: 2 1 500px;
    text-align: justify;
    text-indent: variables.$spacing-xxl;
    line-height: variables.$line-height-base;
    padding: 0 20px;
  }

  &__picture {
    max-width: 600px;
  }

  &__imagem {
    width: 100%;
    height: auto;
    border-radius: 1000px;
  }
}
